.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 6rem;
	border-bottom: 2px solid;
	border-image: linear-gradient(
		270deg,
		var(--secondary) 70%,
		var(--primary) 100%
	);
	border-image-slice: 1;
}

.book-mark svg {
	width: 3rem;
	height: 3rem;
}

.heading {
	display: flex;
	align-items: center;
	gap: 3rem;
}

.heading h2 {
	font-size: 6.4rem;
	font-weight: 300;
	line-height: 1;
	padding-bottom: 6rem;
	margin-top: 6rem;
	color: var(--muted-foreground);
}

.heading span {
	color: var(--card-foreground);
}

.heading h4 {
	width: 40%;
	font-size: 2rem;
	line-height: 1.5;
	font-weight: 100;
	padding-left: 1rem;
	border-left: 2px solid var(--primary);
}
